<script setup lang="ts">
import { reactive, ref, watch } from 'vue';

    const count =ref(0)
    function increment(){
        count.value++;
    }
    watch(count,function(newCount,oldCount){
    console.log(`Count changed ${oldCount} ->${newCount}`)
    })
    const myClasses =reactive({
        red:true,
        bold:true,
        underline:true,
})

</script>

<template>
    <button @click="increment()" :class="myClasses">count is:{{ count }}</button><br />
    <pre>{{ myClasses }}</pre> <br />
    <button @click="myClasses.red= !myClasses.red">red</button> 
    <button @click="myClasses.bold =!myClasses.bold">bold</button>
     <button @click="myClasses.underline =!myClasses.underline">underline</button>
</template>

<style scoped>
.red{
    color:red;}
.bold{
    font-weight: bold;
}
.underline{
    text-decoration: underline;
}
</style>
